body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Alef, Arial, sans-serif;
    height: 100vh;
    justify-content: space-evenly;
    margin: 0;
}

div {
    text-align-last: justify;
}

h1 {
    font-size: 20vw;
    line-height: .05ex;
}

h2 {
    font-size: 3.5vw;
    line-height: .05ex;
}

h2::before, h2::after {
    content: '\00a0';
}

h3 {
    font-size: max(2vw, 1rem);
    font-weight: normal;
    max-width: 60%;
    text-align: center;
}

@keyframes stroke {
    0% { -webkit-text-stroke-color: red; }
    33.3% { -webkit-text-stroke-color: red; }
    33.31% { -webkit-text-stroke-color: lime; }
    66.6% { -webkit-text-stroke-color: lime; }
    66.61% { -webkit-text-stroke-color: #0080ff; }
    100% { -webkit-text-stroke-color: #0080ff; }
}

.dot {
    animation: 1s infinite stroke;
    display: inline-block;
    -webkit-text-stroke-width: .025em;
}
