@font-face {
    font-family: ktiv;
    font-display: block;
    src: url('fonts/OHSagiIdan-Regular.woff2');
}

svg {
    margin-inline: auto;
    width: 100%;
}

image {
    height: 100%;
    width: 100%;
}

g {
    translate: 1px -1.5px;
}

text {
    font-family: ktiv;
    text-anchor: end;
    dominant-baseline: hanging;
    font-size: .45rem;
    fill: #c13a16;
    scroll-margin-top: min(25rem, 50vh);
}

@keyframes blink {
    50% { opacity: 0 }
}

.blink {
    animation: 1.5s infinite steps(1) blink;
}