article :is(.images, video) {
    margin-block: 5rem;
}

.spin {
    --angle: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: var(--down_cursor, var(--cursor));
    overflow: clip;
    padding-block: 1%;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    width: fit-content;
}

.spin.fullscreen {
    background-origin: content-box;
    --pad: 2vh;
    padding-block: var(--pad);
    --max_media_height: calc(100vh - 2*var(--pad));
}

.spin > img {
    rotate: calc(var(--angle) * 1turn);
}

video {
    background-color: white;
    --max_media_height: 50vh;
}