html {
    overscroll-behavior: none;
}

body {
    background-image: url('down.jpg');
    background-position: clamp(100%, 43% + var(--dx, 0px), 0%) clamp(100%, 40% + var(--dy, 0px), 0%);
    background-size: auto 500%;
    cursor: grab;
    --fg_dim: var(--fg);
    touch-action: pinch-zoom;
    --transparency: 1;
    user-select: none;
    -webkit-user-select: none;
}

footer, h1, h2, nav {
    text-shadow: white 0 0 2px;
}

header, h2 {
    opacity: min(var(--transparency), .7);
}

nav {
    background: none;
}