article > :not(p + p) {
    margin-top: 5rem;
    width: 100%;
}

.fullscreen {
    background-color: white;
}

.model_container {
    direction: ltr;  /* Fix for: https://github.com/google/model-viewer/issues/4930 */
    display: flex;
    justify-content: center;
    margin-inline: var(--anti_margin);
    width: auto;
}

model-viewer {
    aspect-ratio: 1;
    clip-path: inset(1px);  /* Partial fix for: https://github.com/google/model-viewer/discussions/4935 */
    height: auto;
}

.model_container model-viewer:only-child {
    height: 100vmin;
    width: 100%;
}