article > *:not(p + p) {
    margin-top: 5rem;
    width: 100%;
}

.model_container {
    direction: ltr;  /* Fix for: https://github.com/google/model-viewer/issues/4930 */
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: var(--media_width);
}

model-viewer {
    aspect-ratio: 1;
    clip-path: inset(1px);  /* Partial fix for: https://github.com/google/model-viewer/discussions/4935 */
    height: auto;
    min-height: 0;
}