#images {
    cursor: zoom-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6rem;
    margin-inline: auto;
    max-width: var(--media_width);
}

img {
    max-height: var(--max_media_height);
    max-width: 100%;
    object-fit: contain;
}

#left {
    aspect-ratio: 1651 / 2160;
    background-color: #bda581;
    display: grid;
    grid-template-columns: 55.3% 44.7%;
    grid-template-rows: 75% 25%;
    max-height: var(--max_media_height);
}

#side {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#legend {
    display: block !important;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    --r: 10vh;
    touch-action: pinch-zoom;
}

#legend > * {
    pointer-events: none;
    width: 100%;
}

#front {
    inset: 0;
    position: absolute;
}

.fullscreen {
    cursor: zoom-out;
    --fullscreen_bg: var(--bg);
}

#legend.fullscreen {
    cursor: crosshair;
}

#legend.fullscreen img {
    --max_media_height: 100vh;
}

.fullscreen #front {
    --mask: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent var(--r),
        black var(--r) 100%
    );
    -webkit-mask: var(--mask);
    mask: var(--mask);
    will-change: -webkit-mask, mask;
}

#legend.fullscreen::after {
    background: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent var(--r),
        black var(--r) calc(var(--r) + 1px),
        transparent calc(var(--r) + 1px) 100%
    );
    content: '';
    inset: 0;
    position: absolute;
}