#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
    max-width: var(--media_width);
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

img {
    max-height: var(--max_media_height);
    max-width: 100%;
    object-fit: contain;
}

#left {
    aspect-ratio: 1651 / 2160;
    display: grid;
    grid-template-columns: 55.3% 44.7%;
    grid-template-rows: 75.05% 24.95%;
    max-height: var(--max_media_height);
}

#side {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#legend {
    cursor: crosshair;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
}

#legend > * {
    width: 100%;
}

#front {
    inset: 0;
    --mask: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent 0,
        transparent var(--r),
        black var(--r),
        black 100%
    );
    -webkit-mask: var(--mask);
    mask: var(--mask);
    position: absolute;
    touch-action: pinch-zoom;
}

.show {
    background-color: var(--bg);
    left: 50%;
    position: absolute !important;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
}

.hide {
    visibility: hidden;
}