/* Based on: Jos Faber, https://codepen.io/josfabre/pen/QWeVyKb */

html, body {
    overflow-x: clip;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

#backdrop {
    display: flex;
    flex-direction: column;
    inset: 0;
    justify-content: flex-end;
    position: absolute;
    z-index: -1;
}

#canvas {
    flex-shrink: 0;
    transform: translateY(2px);
}

@keyframes grow {
    50% { flex-basis: calc(100% - 15rem) }
}

.grow {
    animation: 600s ease-in-out infinite grow;
}

#filler {
  background-image: linear-gradient(#b3e5fc, #425cfc 1000px);
  flex-basis: 0;
  forced-color-adjust: none;
}

@keyframes wave {
  20% { transform: rotate(-.3deg) translateX(-.7rem) }
  40% { transform: rotate(.15deg) translateX(.7rem) }
  60% { transform: rotate(-.15deg) translateX(-.7rem) }
  80% { transform: rotate(.3deg) translateX(.7rem) }
}

:is(h2, p, blockquote, footer > div), .refs::before {
    animation: 40s infinite ease-in-out var(--play) wave;
}

footer {
    overflow-y: clip;
}

footer > div > span {
    margin-bottom: 2px;  /* For Firefox */
}

.refs::before {
    display: inline-block;
}