#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 4rem;
    margin-inline: auto;
    max-width: var(--media_width);
    width: fit-content;
}

img {
    max-height: var(--max_media_height);
    max-width: 100%;
    object-fit: contain;
}

#left {
    aspect-ratio: 1651 / 2160;
    background-color: #bda581;
    display: grid;
    grid-template-columns: 55.3% 44.7%;
    grid-template-rows: 75% 25%;
    max-height: var(--max_media_height);
}

#side {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#legend {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: crosshair;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    touch-action: none;
    --r: 30px;
    --x: calc(var(--r) * 3);
    --y: calc(var(--r) * 6);
}

#front {
    height: 100%;
    --mask: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent var(--r),
        black var(--r) 100%
    );
    -webkit-mask: var(--mask);
    mask: var(--mask);
    pointer-events: none;
    width: 100%;
}

#legend::after {
    background-image: radial-gradient(
        circle var(--r) at var(--x) var(--y),
        transparent var(--r),
        #ccc var(--r) calc(var(--r) + 1px),
        transparent calc(var(--r) + 1px) 100%
    );
    content: '';
    inset: 0;
    position: absolute;
}