.model_container {
    height: min(84vw + var(--anti_margin)*2*852/1200, 121.5vh);
    margin-inline: var(--anti_margin);
}

model-viewer {
    height: 100%;
    width: 100%;
}

@media (max-width: 480px) {
    .model_container {
        height: calc(96vw + var(--anti_margin)*2*852/1200);
    }
}