figcaption > article {
    max-width: calc(var(--article_width) / .7) !important;
}

figcaption > article > :not([dir=ltr]) + [dir=ltr] {
    margin-top: 2em !important;
}

.model_container {
    height: min(84vw + var(--anti_margin)*2*852/1200, 121.5vh);
    margin-inline: var(--anti_margin);
}

model-viewer {
    height: 100%;
    width: 100%;
}

.images {
    margin-top: 5rem;
}

@media (max-width: 480px) {
    .model_container {
        height: calc(96vw + var(--anti_margin)*2*852/1200);
    }
}