:root {
  --fg: #64ff64;
  --fg_dull: green;
  --fg_verydull: #004000;
  --fg_highlight: white;
  --bg: black;
}

@font-face {
    font-family: Alef Mono;
    font-display: block;
    src: url("Alef-Monospace.woff2");
}

body {
    background: var(--bg);
    box-sizing: border-box;
    color: var(--fg);
    display: table;
    font-family: Alef, Arial, sans-serif;
    font-size: 1.3rem;
    height: 100vh;
    letter-spacing: .03em;
    margin: 0;
    padding-inline: max(5vw, 2rem);
    padding-bottom: 8px;
    table-layout: fixed;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100%;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

button, pre {
    font-family: inherit;
}

cite, footer, nav, .slider, .small, .table {
    font-size: initial;
}

@media (hover: hover) {
    @keyframes symbol_rarr {
        100% { translate: .12em; }
    }

    @keyframes symbol_larr {
        100% { translate: -.12em; }
    }

    @keyframes symbol_darr {
        100% { translate: 0 .12em; }
    }

    @keyframes symbol_uarr {
        100% { translate: 0 -.12em; }
    }

    @keyframes symbol_x1f310 {
        100% { rotate: 0 1 0 360deg; }
    }

    @keyframes deco {
        33% { text-decoration-style: dashed; }
        66% { text-decoration-style: dotted; }
    }

    a:hover, a:focus-visible {
        animation: .3s infinite deco;
    }

    a:hover > .symbol_rarr > span, .mail:hover {
        animation: .3s infinite alternate symbol_rarr;
    }

    a:hover > .symbol_larr > span {
        animation: .3s infinite alternate symbol_larr;
    }

    a:hover > .symbol_uarr > span, .github:hover {
        animation: .3s infinite alternate symbol_uarr;
    }

    a:hover > .symbol_darr > span {
        animation: .3s infinite alternate symbol_darr;
    }

    a:hover > .symbol_x1f310 > span {
        animation: 1.2s linear infinite symbol_x1f310;
    }

    a:focus-visible {
        outline: transparent;
    }

    @keyframes border {
        33% { border-style: dashed; }
        66% { border-style: dotted; }
    }

    button:hover, button:focus-visible {
        animation: .3s infinite border;
        border-color: var(--fg);
    }

    button.always_on:hover, button.on:hover, button.always_on:focus-visible, button.on:focus-visible {
        border-color: var(--fg_dull);
    }

    button:focus-visible {
        outline: transparent;
    }

    #grid:focus-visible {
        outline-color: var(--fg);
        outline-style: solid;
    }

    @keyframes stroke {
        50% { -webkit-text-stroke-color: var(--fg_dull); }
    }

    #dot:hover, #dot:focus-visible {
        animation: .3s infinite stroke;
        -webkit-text-stroke-width: 1px;
    }

    @keyframes web {
        100% { scale: 1.1; }
    }

    .web:hover {
        animation: .3s infinite alternate web;
    }

    .slider > span:hover {
        color: var(--fg_highlight);
    }

    @keyframes twitter {
        100% { rotate: -15deg; }
    }

    .twitter:hover {
        animation: .3s infinite alternate twitter;
    }
}

a {
    color: inherit;
    text-decoration-color: var(--fg_dull);
    text-underline-position: under;
}

.bigbutton {
    text-align: center;
}

.bigbutton > button {
    font-size: 1.3em;
    margin-bottom: 6ex;
    padding-inline: 1em;
}

.bigmono, .bigsquare, .cogram {
    overflow-x: auto;
}

.bigmono, .bigsquare, .cogram, .square {
    font-family: Alef Mono, Courier New, monospace;
    letter-spacing: .7em;
}

.bigmono, .cogram {
    font-size: clamp(1.3em, 2rem, 2vw);
}

.bigmono > * {
    margin-block: 3ex !important;
}

.bigsquare {
    margin-block: 3ex 4ex;
    text-align: center;
}

blockquote {
    margin-block: 3ex;
}

button {
    background: var(--fg_dull);
    border-color: var(--fg_dull);
    border-radius: 8px;
    border-style: solid;
    color: inherit;
    cursor: pointer;
    font-size: .9rem;
    margin: 0;
    padding-block: .1em;
    padding-inline: .5em;
    text-decoration: none;
}

button:active, button.always_on, button.on {
    background: var(--fg);
    border-color: var(--fg);
    color: var(--fg_verydull);
}

@media (forced-colors: active) {
    button:active, button.always_on, button.on {
        outline-color: var(--fg);
        outline-style: solid;
        outline-width: 5px;
    }
}

button.on:active {
    background: var(--fg_dull);
    border-color: var(--fg_dull);
    color: inherit;
}

blockquote, p {
    text-align: justify;
}

cite {
    color: var(--fg_dull);
    display: inline-block;
    font-style: normal;
}

.cogram {
    text-align: center;
}

.cogram > pre {
    display: inline-block;
    line-height: 1.8;
    text-align: center;
}

.contents {
    columns: 3;
    margin-bottom: 1ex;
}

.contents > p {
    break-inside: avoid;
    text-align: start;
}

.contents > p:first-child {
    margin: 0;
}

#declaration {
    text-align: center;
}

#declaration > blockquote {
    display: inline-block;
    margin-block: 8ex 8ex;
    max-width: 30em;
    text-align: justify;
    white-space: pre-line;
}

.dialog {
    display: flex;
    gap: 1em;
    margin-block: 3.6ex;
}

.export {
    border-block-width: 1px;
    border-inline: none;
    margin: 0;
    width: 100%;
}

footer {
    color: var(--fg_dull);
    display: table-row;
    height: 1px;
    text-align: center;
}

footer::before {
    content: '\a';
    white-space: pre;
}

.formula {
    text-align: start;
}

.formula span {
    display: inline-block;
}

.green {
    filter: sepia() saturate(3.5) hue-rotate(59deg);
}

#grid {
    cursor: pointer;
    font-family: Alef Mono, Courier New, monospace;
    font-size: 12px;
    font-variant-ligatures: none;
    letter-spacing: 0;
    line-height: .66;
    margin-bottom: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

h1, h2 {
    font-weight: normal;
    letter-spacing: .05em;
}

h1, .subhuge {
    font-size: clamp(1.3em, 5rem, 10vw);
}

h2 {
    margin-bottom: 4ex;
}

header {
    margin-top: 5rem;
}

#dot {
    display: inline-block;
    line-height: 1.5ex;
    margin-inline: -.25em -.1em;
    padding-inline-start: .3em;
    position: relative;
    text-decoration: none;
}

.huge, .subhuge {
    letter-spacing: .1em;
    text-align: center;
    margin-block: .2ex 1ex;
}

.huge {
    font-size: clamp(1.3em, 10rem, 12vw);
}

iframe {
    border-color: var(--fg);
    border-style: solid;
    display: block;
    margin-inline: auto;
    margin-top: 2rem;
    width: 85%;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: max(1.2vw, .8em);
}

.large {
    font-size: 1.725em;
}

li {
    margin-block: 2ex;
    margin-inline-start: 2.5em;
}

.magicspell > pre {
    background: black;
    color: white;
    outline-color: black;
    outline-style: solid;
    outline-width: .5em;
}

.mono {
    font-family: Alef Mono, Courier New, monospace;
    overflow-x: auto;
}

.mono li, .nowrap {
    white-space: nowrap;
}

@keyframes flash {
    99.00% {background: var(--bg); color: var(--fg);}
    99.01% {background: var(--fg); color: var(--fg_highlight);}
    99.40% {background: var(--bg); color: var(--fg);}
    99.41% {background: var(--fg); color: var(--fg_highlight);}
}

#namretla {
    animation: 120s linear infinite flash;
}

#namretla > .poem {
    line-height: 2.4;
}

nav {
    background: inherit;
    inset-inline: 0;
    padding-block: 8px 16px;
    padding-inline: inherit;
    position: fixed;
    top: 0;
    z-index: 99;
}

ol, ul {
    margin-block: 4ex;
}

p:not([dir=ltr]) + p[dir=ltr],
p[dir=ltr] + p:not([dir=ltr]) {
    margin-top: 6ex;
}

.pangram {
    font-size: 3rem;
    text-align: center;
}

.poem {
    text-align: center;
}

@counter-style pad {
    system: extends decimal;
    pad: 2 '\00a0';
    suffix: ': ';
}

.poem > ol {
    list-style-position: inside;
    list-style-type: pad;
    padding-inline: 0;
}

.poem > ul {
    list-style-type: none;
    padding-inline: 0;
}

.poem li {
    letter-spacing: .5em;
    margin-inline: 0;
}

.poem > pre, .square > pre {
    display: inline-block;
    text-align: start;
}

.poem > pre {
    margin-block: 2ex 5ex;
}

pre.square + p {
    text-align: end;
}

.punct {
    color: var(--fg_verydull);
}

.refs {
    margin-block: 6ex;
}

.refs::before {
    content: attr(data-label);
    font-weight: bold;
}

.refs > blockquote {
    direction: ltr;
}

.sidebyside {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: space-evenly;
    margin-block: 4ex 5ex;
}

.signonet {
    background: white;
    height: 770px;
}

.sliders {
    direction: ltr;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: center;
    margin-top: 4ex;
}

.slider {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.slider > input {
    cursor: pointer;
    touch-action: none;
    vertical-align: middle;
}

#lang_slider {
    width: 2.5em;
}

#rate_slider {
    width: 6em;
}

.social {
    display: inline-block;
}

.social > a {
    display: inline-block;
    font-size: .6em;
    text-decoration: none;
}

.square {
    font-size: 2rem;
    margin-top: 5ex;
    text-align: center;
}

.square > pre {
    margin-block: 0;
}

[class^=symbol] {
    display: inline-block;
    margin-inline-end: .3em;
    text-align: end;
    width: 1.1em;
}

[class^=symbol] > span {
    display: inline-block;
}

.symbol_x1f310 > span {
    font-size: .7em;
}

.table {
    overflow-x: auto;
    text-align: center;
}

.table > table {
    border-color: var(--fg_dull);
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    display: inline-table;
    margin-block: 3ex 5ex;
    text-align: start;
}

.table td, .table th {
    border-color: var(--fg_dull);
    border-style: solid;
    border-width: 1px;
    padding-block: .3em;
    padding-inline: .5em;
}

.video {
    aspect-ratio: 16 / 9;
    border: none;
}

#xx17n {
    direction: ltr;
    overflow-x: auto;
}

#xx17n > iframe {
    height: 965px;
    min-width: 1280px;
}

@media (hover: none), (max-device-width: 500px), (max-device-height: 500px) {
    blockquote, p {
        text-align: start;
    }

    .contents {
        column-count: 1;
    }

    .dialog {
        margin-block: 6ex;
    }

    .github {
        font-size: .5em !important;
    }

    .mail {
        font-size: .8em !important;
    }

    .refs > blockquote {
        font-size: initial;
    }

    .web {
        font-size: .5em !important;
    }
}
