:root {
  --fg: #64ff64;
  --fg_dull: green;
  --fg_verydull: #004000;
  --fg_highlight: white;
  --bg: black;
}

@font-face {
    font-family: Alef Mono;
    font-display: block;
    src: url("Alef-Monospace.woff2");
}

html {
    scroll-padding-block: 5rem 3rem;
}

body {
    background: var(--bg);
    box-sizing: border-box;
    color: var(--fg);
    display: table;
    font-family: Alef, Arial, sans-serif;
    font-size: 1.3rem;
    height: 100vh;
    letter-spacing: .03em;
    margin: 0;
    padding-inline: max(5vw, 2rem);
    padding-bottom: 8px;
    table-layout: fixed;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100%;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

button, pre {
    font-family: inherit;
}

cite, footer, nav, .sliders, .small, .table {
    font-size: initial;
}

@media (hover: hover) {
    :focus-visible {
        outline-color: var(--fg);
        outline-offset: 8px;
        outline-style: solid;
    }

    @keyframes symbol_rarr {
        100% { translate: .12em }
    }

    @keyframes symbol_larr {
        100% { translate: -.12em }
    }

    @keyframes symbol_darr {
        100% { translate: 0 .12em }
    }

    @keyframes symbol_uarr {
        100% { translate: 0 -.12em }
    }

    @keyframes symbol_x1f310 {
        100% { rotate: 0 1 0 360deg }
    }

    @keyframes deco {
        33% { text-decoration-style: dashed }
        66% { text-decoration-style: dotted }
    }

    a:is(:hover, :focus-visible) {
        animation: .3s infinite deco;
    }

    a:is(:hover, :focus-visible) > .symbol_rarr > span, .mail:is(:hover, :focus-visible) {
        animation: .3s infinite alternate symbol_rarr;
    }

    a:is(:hover, :focus-visible) > .symbol_larr > span {
        animation: .3s infinite alternate symbol_larr;
    }

    a:is(:hover, :focus-visible) > .symbol_uarr > span, .github:is(:hover, :focus-visible) {
        animation: .3s infinite alternate symbol_uarr;
    }

    a:is(:hover, :focus-visible) > .symbol_darr > span {
        animation: .3s infinite alternate symbol_darr;
    }

    a:is(:hover, :focus-visible) > .symbol_x1f310 > span {
        animation: 1.2s linear infinite symbol_x1f310;
    }

    .bigsquare > span:hover > b {
        background: var(--fg_verydull);
    }

    @keyframes border {
        33% { border-style: dashed }
        66% { border-style: dotted }
    }

    button:not(.grid_button, .sliders *):is(:hover, :focus-visible) {
        animation: .3s infinite border;
        border-color: var(--fg);
    }

    button:is(.always_on, .on):is(:hover, :focus-visible) {
        border-color: var(--fg_dull);
    }

    @keyframes stroke {
        50% { -webkit-text-stroke-color: var(--fg_dull) }
    }

    #dot:is(:hover, :focus-visible) {
        animation: .3s infinite stroke;
        -webkit-text-stroke-width: 1px;
    }

    .sliders :is(button:is(:hover, :focus-visible), span:hover) {
        color: var(--fg_highlight);
    }

    .table tr:not(:first-child):hover {
        background: var(--fg_verydull);
    }

    @keyframes twitter {
        100% { rotate: -15deg }
    }

    .twitter:is(:hover, :focus-visible) {
        animation: .3s infinite alternate twitter;
    }

    @keyframes web {
        100% { scale: 1.1 }
    }

    .web:is(:hover, :focus-visible) {
        animation: .3s infinite alternate web;
    }

    :is(a, button):focus-visible {
        outline: transparent;
    }
}

a {
    color: inherit;
    text-decoration-color: var(--fg_dull);
    text-underline-position: under;
}

.bigmono, .bigsquare, .cogram, .square, .magicspell {
    font-family: Alef Mono, Courier New, monospace;
    letter-spacing: .7em;
}

.bigmono, .cogram {
    font-size: clamp(1.3em, 2rem, 2vw);
}

.bigsquare {
    cursor: default;
    margin-block: 3ex 4ex;
    text-align: center;
}

blockquote {
    margin-block: 3ex;
}

blockquote, p {
    text-align: justify;
}

button {
    background: var(--fg_dull);
    border-color: var(--fg_dull);
    border-radius: 8px;
    border-style: solid;
    color: inherit;
    cursor: pointer;
    font-size: .9rem;
    margin: 0;
    padding-block: .1em;
    padding-inline: .5em;
    text-decoration: none;
}

button:is(:active, .always_on, .on) {
    background: var(--fg);
    border-color: var(--fg);
    color: var(--fg_verydull);
}

@media (forced-colors: active) {
    button:is(:active, .always_on, .on) {
        outline-color: var(--fg);
        outline-style: solid;
        outline-width: 5px;
    }
}

button.on:active {
    background: var(--fg_dull);
    border-color: var(--fg_dull);
    color: inherit;
}

cite {
    color: var(--fg_dull);
    display: inline-block;
    font-style: normal;
}

.cogram {
    line-height: 1.8;
    margin-block: 3ex;
    text-align: center;
}

.contents {
    columns: 3;
}

.contents > p {
    break-inside: avoid;
    text-align: start;
}

.contents > p:first-child {
    margin: 0;
}

#declaration {
    margin-block: 10ex 8ex;
    margin-inline: auto;
    max-width: 30em;
    text-align: justify;
    white-space: pre-line;
}

.dialog {
    display: flex;
    gap: 1em;
    margin-block: 3.6ex;
}

.export {
    border-block-width: 1px;
    border-inline: none;
    margin: 0;
    width: 100%;
}

footer {
    display: table-row;
    height: 1px;
}

footer > div {
    align-items: end;
    color: var(--fg_dull);
    display: flex;
    flex-wrap: wrap;
    gap: .5em 3em;
    justify-content: center;
    margin-top: 2rem;
}

.formula {
    text-align: start;
}

.formula span {
    display: inline-block;
}

.fullscreen {
    display: grid;
    overflow-y: auto;
}

.fullscreen > :first-child {
    margin-top: auto;
}

.fullscreen > :last-child {
    margin-bottom: auto;
}

.green, input[type=range] {
    filter: sepia() saturate(3.5) hue-rotate(59deg);
}

#grid {
    display: block;
    font-family: Alef Mono, Courier New, monospace;
    font-variant-ligatures: none;
    letter-spacing: 0;
    line-height: .66;
    white-space: pre;
}

.grid_button {
    background: none;
    border: none;
    border-radius: 0;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
}

h1, h2 {
    font-weight: normal;
    letter-spacing: .05em;
}

h1, .subhuge {
    font-size: clamp(1.3em, 5rem, 10vw);
}

h2 {
    margin-bottom: 4ex;
}

h2:not(:is(header, .small, :is(header, .small) + script) + *) {
    margin-top: 6ex;
}

header {
    margin-top: 5rem;
}

#dot {
    display: inline-block;
    line-height: 1.5ex;
    margin-inline: -.25em -.1em;
    padding-inline-start: .3em;
    position: relative;
    text-decoration: none;
}

.huge, .subhuge {
    letter-spacing: .1em;
    text-align: center;
    margin-block: .2ex 1ex;
}

.huge {
    font-size: clamp(1.3em, 10rem, 12vw);
}

iframe {
    border-color: var(--fg);
    border-style: solid;
    display: block;
    margin-inline: auto;
    margin-top: 2rem;
    width: 85%;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: max(1.2vw, .8em);
}

.large {
    font-size: 1.725em;
}

li {
    margin-block: 2ex;
}

li:not(.mono *) {
    margin-inline-start: 2.5em;
}

.magicspell {
    background: black;
    color: white;
    font-size: 2rem;
    margin-inline: auto;
    margin-block: 5ex;
    outline-color: black;
    outline-style: solid;
    outline-width: .5em;
    width: fit-content;
}

.mintz {
    display: table-row;
    height: 100%;
}

.mintz > pre {
    display: table-cell;
    font-size: 8.9vw;
    font-weight: bold;
    letter-spacing: -.1em;
    line-height: .6;
    vertical-align: middle;
}

.mono {
    font-family: Alef Mono, Courier New, monospace;
}

.mono > li {
    letter-spacing: .5em;
}

.mono > li span {
    display: inline-block;
}

@counter-style pad {
    system: extends decimal;
    pad: 2 '\00a0';
    suffix: ': ';
}

ol.mono {
    list-style-position: inside;
    list-style-type: pad;
    padding-inline: 0;
    text-align: center;
}

ul.mono {
    list-style: none;
    padding-inline: 0;
    text-align: center;
}

@keyframes flash {
    99%, 99.4% {background: var(--bg); color: var(--fg) }
    99.01%, 99.41% {background: var(--fg); color: var(--fg_highlight) }
}

#namretla {
    animation: 120s linear infinite flash;
}

#namretla > .poem {
    line-height: 2.4;
}

nav {
    background: inherit;
    inset-inline: 0;
    padding-block: 8px 16px;
    padding-inline: inherit;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nowrap {
    white-space: nowrap;
}

ol, ul {
    margin-block: 4ex 6ex;
}

p:not([dir=ltr]) + p[dir=ltr],
p[dir=ltr] + p:not([dir=ltr]) {
    margin-top: 6ex;
}

.pangram {
    font-size: 3rem;
    text-align: center;
}

#play_button {
    display: block;
    font-size: 1.3em;
    margin-bottom: 6ex;
    margin-inline: auto;
    padding-inline: 1em;
}

.poem {
    margin-block: 4ex 4rem;
    margin-inline: auto;
    max-width: fit-content;
}

header + .poem {
    padding-top: 2ex;
}

pre.square + p {
    text-align: end;
}

.punct {
    color: var(--fg_verydull);
}

.refs {
    margin-block: 6ex;
}

.refs::before {
    content: attr(data-label);
    font-weight: bold;
}

.refs > blockquote {
    direction: ltr;
}

#screenshot {
    border-style: solid;
    border-width: 2px;
    font-size: .75em;
    margin-inline: auto;
    width: 80%;
}

#screenshot .undercover {
    border-radius: 1em;
    outline-color: var(--fg_highlight);
    outline-offset: .5em;
    outline-style: solid;
    outline-width: 2px;
}

.sidebyside {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: space-evenly;
    margin-block: 4ex 5ex;
}

.signonet {
    background: white;
    height: 800px;
}

.sliders {
    direction: ltr;
    margin-block: 5ex 3ex;
}

.sliders, .sliders div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 4em;
    justify-content: center;
}

.sliders button {
    background: none;
    border: none;
    font-size: inherit;
    padding: 0;
}

.sliders label {
    align-items: center;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    min-width: 12.5em;
}

.sliders label > * {
    cursor: pointer;
}

.sliders label > :first-child {
    text-align: start;
}

.sliders label > :last-child {
    text-align: end;
}

.sliders label > :is(:first-child, :last-child) {
    flex-basis: 0;
    flex-grow: 1;
}

input[type=range] {
    margin-inline: -1px;
    touch-action: none;
    width: 2.5em;
}

button + input[type=range] {
    width: 8em;
}

#size_slider {
    width: 4.5em;
}

.social {
    display: inline-block;
}

.social > a {
    display: inline-block;
    font-size: .6em;
    text-decoration: none;
}

.square {
    font-size: 2rem;
    margin-top: 5ex;
    text-align: center;
}

[class^=symbol] {
    display: inline-block;
    margin-inline-end: .3em;
    text-align: end;
    width: 1.1em;
}

[class^=symbol] > span {
    display: inline-block;
}

.symbol_x1f310 > span {
    font-size: .7em;
}

.table {
    border-collapse: collapse;
    display: block;
    margin-block: 3ex 5ex;
    margin-inline: auto;
    max-width: fit-content;
}

.table :is(td, th) {
    border-color: var(--fg_dull);
    border-style: solid;
    border-width: 1px;
    padding-block: .3em;
    padding-inline: .5em;
}

.video {
    aspect-ratio: 16 / 9;
    border: none;
}

#xx17n {
    direction: ltr;
    margin-top: 2rem;
}

#xx17n > iframe {
    height: 965px;
    margin-top: 0;
    min-width: 1280px;
}

.bigmono, .bigsquare, .cogram, #grid, .table, #xx17n {
    overflow-x: auto;
    padding-bottom: 16px;
}

@media (hover: none), (max-device-width: 500px), (max-device-height: 500px) {
    blockquote, p {
        text-align: start;
    }

    .contents {
        column-count: 1;
    }

    .dialog {
        margin-block: 6ex;
        margin-inline: 0;
    }

    .github, .web {
        font-size: .5em !important;
    }

    li:not(.mono *) {
        margin-inline-start: 0;
    }

    .mail {
        font-size: .8em !important;
    }

    .refs > blockquote {
        font-size: initial;
        margin-inline: 0;
    }
}
