.table {
    overflow-x: auto;
    margin-block: 2.5em;
    padding-bottom: 16px;
    padding-inline-end: 1px;  /* Show missing border in Chrome when overflowing */
}

table {
    border-collapse: collapse;
    margin-inline: auto;
    width: max-content;
}

td {
    border: 1px solid;
    border-color: inherit;
    height: 1em;
    line-height: 1em;
    text-align: center;
    width: 1em;
}

td:empty {
    background-color: var(--fg);
    opacity: .8;
}

td.number {
    font-weight: bold;
}