body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Alef, Arial, sans-serif;
    height: 100vh;
    justify-content: space-evenly;
    margin: 0;
}

div {
    line-height: 0;
    text-align-last: justify;
    width: 67.5%;  /* for Safari */
}

@keyframes stroke {
    0% { -webkit-text-stroke-color: red; }
    33.3% { -webkit-text-stroke-color: red; }
    33.31% { -webkit-text-stroke-color: lime; }
    66.6% { -webkit-text-stroke-color: lime; }
    66.61% { -webkit-text-stroke-color: #0080ff; }
    100% { -webkit-text-stroke-color: #0080ff; }
}

.dot {
    animation: 1s infinite stroke;
    display: inline-block;
    -webkit-text-stroke-width: .025em;
}

h1 {
    font-size: 20vw;
}

h2 {
    font-size: 3.5vw;
    margin-inline: .4em;
}

h3 {
    font-size: max(2vw, 1rem);
    font-weight: normal;
    margin-inline: 18%;
    text-align: center;
}

#whom {
    align-self: end;
}