body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Alef, Arial, sans-serif;
    justify-content: space-evenly;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    text-underline-position: under;
}

@supports (-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available;
    }
}

@keyframes border-dance {
    0% { background-position: 0 0, 100% 100%, 0 100%, 100% 0 }
    100% { background-position: 100% 0, 0 100%, 0 0, 100% 100% }
}

.rotating-border {
    animation: 5s linear infinite border-dance;
    background: linear-gradient(90deg, currentColor 50%, transparent 50%), linear-gradient(90deg, currentColor 50%, transparent 50%), linear-gradient(0, currentColor 50%, transparent 50%), linear-gradient(0, currentColor 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 1rem .2rem, 1rem .2rem, .2rem 1rem, .2rem 1rem;
    padding-bottom: .5em;
    padding-inline: .5em;
    width: max-content;
}

.rotating-border:hover {
    animation-duration: 1s;
}

div {
    line-height: 0;
}

@keyframes stroke {
    0% { -webkit-text-stroke-color: red }
    33.3% { -webkit-text-stroke-color: red }
    33.31% { -webkit-text-stroke-color: lime }
    66.6% { -webkit-text-stroke-color: lime }
    66.61% { -webkit-text-stroke-color: #0080ff }
    100% { -webkit-text-stroke-color: #0080ff }
}

.dot {
    animation: 1s infinite stroke;
    display: inline-block;
    -webkit-text-stroke-width: .025em;
}

h1 {
    font-size: 20vw;
}

h2 {
    box-sizing: border-box;
    font-size: 3.5vw;
    padding-inline: .4em;
    text-align-last: justify;

    /* Safari needs this, otherwise this justified element will stretch parent width */
    min-width: 100%
    width: 0;
}

h3 {
    font-size: max(2vw, 1rem);
    font-weight: normal;
    margin-inline: 18%;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 64%;
}