html {
    scroll-behavior: smooth;
}

button.big, .images {
    margin-top: 10rem;
}

[id^=card] {
    scroll-margin-top: 40vh;
}

[id^=card]::first-letter {
    font-size: 2em;
}

[href="#card1"] {
    grid-area: 13 / 2 / 23 / 3;
}

[href="#card2"] {
    grid-area: 6 / 1 / 16 / 2;
}

[href="#card3"] {
    grid-area: 6 / 3 / 16 / 4;
}

[href="#card4"] {
    grid-area: 1 / 2 / 11 / 3;
}

#diamond {
    column-gap: 1rem;
    direction: rtl;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#diamond img {
    filter: brightness(0);
    max-height: 33vh;
    max-width: 25vw;
    rotate: y .5turn;
}

a figcaption {
    font-size: .7em;
    margin-inline: initial;
    margin-top: 2.5%;
    text-align: center;
}

a img {
    border-radius: 10.4% / 6.2%;
}

@keyframes turn {
    49.99% { filter: brightness(0) }
    50% { filter: brightness(1) }
    100% { filter: brightness(1); rotate: y 0turn }
}

.turn {
    animation: 2s turn ease-in-out forwards;
}