#diamond {
    column-gap: 1rem;
    direction: rtl;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#diamond > img {
    filter: brightness(0);
    max-height: 33vh;
    max-width: 25vw;
    rotate: y .5turn;
}

@keyframes turn {
    49.99% { filter: brightness(0) }
    50% { filter: brightness(1) }
    100% { filter: brightness(1); rotate: y 0turn }
}

.turn {
    animation: 2s turn ease-in-out forwards;
}